
.context-menu {
	position: absolute;
	text-align: center;
	background: lightgray;
	border: 1px solid black;
}

.context-menu ul {
	padding: 0px;
	margin: 0px;
	min-width: 100px;
	list-style: none;
}

.context-menu ul li {
	border: 1px solid black;
}

.context-menu ul li a {
	text-decoration: none;
	color: black;
}